<header class="w-full flex justify-between items-center bg-slate-700 text-white font-bold">
  <div class="w-full flex gap-x-5 p-5 ">
      
      <a href="">Home</a>
      <a href="">product list</a>
      <a [routerLink]="['lab1']">Lab1</a>
      <a [routerLink]="['lab2']">Lab2</a>
      <a [routerLink]="['lab3']">Lab3</a>
      <a [routerLink]="['lab4']">Lab4</a>
     <div>
      
     </div>
  </div>
  <a class="mr-5 flex gap-2" href="">Manager <span><i class="fa-solid fa-arrow-down"></i></span></a>
  </header>